<ion-header>
  <ion-toolbar>
    <ion-title>ACEchedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <h2 class="login-heading">Welcome Back!</h2>
    <form (ngSubmit)="login()">
      <ion-item class="login-item">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="username" name="username" required placeholder="Enter your email"></ion-input>
      </ion-item>

      <ion-item class="login-item">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required placeholder="Enter your password"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit">Login</ion-button>
    </form>

    <ion-text *ngIf="errorMessage" color="danger">
      {{ errorMessage }}
    </ion-text>
  </div>
</ion-content>
