<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>ACEchedule</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!-- section list -->
      <ion-list>
        <ion-item (click)="showAllEvents()" (click)="selectSection(null)">
          Home
        </ion-item>
        <ion-item *ngFor="let section of sections" (click)="showEventsBySection(section.id)" (click)="selectSection(section)">
          BS Computer Science - {{ section.name }}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>ACEchedule</ion-title>
      </ion-toolbar>
    </ion-header>
  

    <!-- Selected Section Display -->
    <div class="selected-section">
      <p *ngIf="selectedSection">BSCS {{ selectedSection.name }}</p>
      <p *ngIf="!selectedSection">Viewing All Events</p>
    </div>
    <ion-content class="ion-padding">
      <!-- Display Events Here -->
      <ion-list class="events-container">
        <ion-item *ngFor="let event of events" class="event-item">
          <ion-label class="event-label">
            <h3 class="faculty-name">{{ event.faculty_name }}</h3>
            <h2 class="event-title">{{ event.event_name }}</h2>
            <p class="event-time">{{ event.date }}</p>
            <p class="section-affected">Section: {{ event.section_name }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>
</ion-app>
  